---
---

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

.navbar-inverse {
  background-color: hsl(134, 28%, 25%);
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: hsl(134, 28%, 29%);
}
.navbar-inverse .navbar-brand {
  color: white;
}

a {
  color: hsl(134, 28%, 40%);
}
a:hover {
  color: hsl(134, 28%, 22%);
}

.topbox {
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

body {
  background-color: rgb(250, 246, 238);
  padding-bottom: 20px;
}

.Georgia {
  font-family: Georgia, serif;
}

.jumbotron {
  h2 {
    font-size: 3.5em;
  }
}

#coverage-map {
  max-width:100%;
}

.option-box {
  border:1px solid #666666;
  padding:1em;
  margin:2em 0;
  background-color:white;
  border-radius:1em;
}
