---
---

$backgroundColor: hsl(40, 55%, 97%);
$navbarBackgroundColor: hsl(134, 28%, 25%);
$anchorColor: hsl(134, 28%, 40%);
$anchorHoverColor: hsl(134, 28%, 22%);

// Limit width for comfortable reading of full width text. The BS defaults
// don't work for us because we do not have sidebars.
.container {
    max-width: 750px;
}

.navbar-inverse {
  background-color: $navbarBackgroundColor;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: lighten($navbarBackgroundColor, 5);
}
.navbar-inverse .navbar-brand {
  color: white;
}

.btn-default {
    background-color: lighten($backgroundColor, 2);
}

a {
  color: $anchorColor;
}
a:hover {
  color: $anchorHoverColor;
}

.topbox {
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

body {
  background-color: $backgroundColor;
  color: black; // black is easier to read on tan background.
  padding-bottom: 20px;
}

.Georgia {
  font-family: Georgia, serif;
}

.jumbotron {
  h2 {
    font-size: 3.5em;
  }
}

#coverage-map {
  max-width:100%;
}

.option-box {
  border:1px solid #666666;
  padding:1em;
  margin:2em 0;
  background-color:white;
  border-radius:1em;
}
