---
layout: page
title: BSA Girl Troop
description: BSA Girl Troop 570 in Kirkland, WA serving girls age 11 to 17 in Kirkland, Bothell and the surrounding areas.
slides:
- image: /images/girls/slides/20181118_134531.jpg
  title: 
- image: /images/girls/slides/IMG_9892.jpg
  title: 
- image: /images/girls/slides/IMG_9895.jpg
  title:
- image: /images/girls/slides/IMG_9902.jpg
  title:
- image: /images/girls/slides/IMG_9955.jpg
  title:
- image: /images/girls/slides/Adventure-Slide.jpg
  title:
- image: /images/girls/slides/IMG_9956.jpg
  title:
- image: /images/girls/slides/IMG_9984.jpg
  title:
- image: /images/girls/slides/IMG_9985.jpg
  title:
---
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="lead text-center">BSA Girl Troop 570 is located in Kirkland, Washington
      and serves girls age 11 to 17 in Kirkland, Kenmore, Bothell and the surrounding
      area.
    </h1>  
  </div>  
</div>
<div id="slide-carousel" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in page.slides %}
    <li data-target="#slide-carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for slide in page.slides %}
    <div class="item{% if forloop.first %} active{% endif %}">
      <img src="{{ slide.image }}">
      <div class="carousel-caption">
        {{ slide.title }}
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#slide-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#slide-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h3 class="text-center">Troop 570 Girls</h3>
<p>Troop 570 Girls begins on February 1st, 2019, and is chartered by the 
  <a href="http://www.hslckirkland.org/">Holy Spirit Lutheran Church.</a> in Kirkland, WA. 
  The church also charters a Boy Troop,
  established in 1969, a Cub Scout Pack and a Venturing Crew.</p>

<p>Our troop has a founding team of eleven girls and looks forward to new members
joining us. We meet on the same nights and times in the church as the
Troop 570 Boys, but in different rooms. The boy and girl troops will operate
independently – different meetings, programs, outings and Senior Patrol
Council.</p>

<p>We invite Webelos and Scouting-age girls (11 to 17 years old) and
their parents to visit us. </p>
<div class="row">
  <div class="col-md-6">
    <h3 class="">Our Program</h3>
    <p>Our focus is on fun, outdoor activities for girls while following the Aims of
    Scouting - character development, citizenship training and personal fitness.
    Scouts advance through ranks at their own pace.</p>
    
    <p>Our 2019 calendar includes camping, backpacking, hiking, water/snow sports,
    community service, and a week-long summer camp.</p>      
  </div>
  <div class="col-md-6">
    <h3 class="">Leadership</h3>
    <p>Troop 570 is a scout-run troop and operates by the patrol method. Our youth
    leaders, with oversight from the Scoutmasters and Troop Committee, plan and
    implement the troop’s weekly troop meetings and events. Our youth attends Troop
    Leader Training (ILST) and the Council-run National Youth Leadership Training
    program (NYLT).</p>
    
    <p>Our adult leaders have many years of Scouting experiences, trained in
    Scouting policies, training skills, and safety, and value youth character
    development.</p>      
  </div>
  <div class="col-md-12">
    <h3 class="">Meetings</h3>
    <p>Our scout meetings are on Mondays from 7:00pm - 8:30pm. Meetings are held at the 
        <a href="http://www.hslckirkland.org/">Holy Spirit Lutheran Church</a> unless specified in advance.      
    </p>
    <address>
        10021 NE 124th St., <br />
        Kirkland, WA 98034
    </address>
    <p>
      Our monthly meeting schedule is usually as follows:
      <table class="table table-striped table-dark">
        <tbody>
          <tr>
            <td>First Monday of the Month</td>
            <td>All scouts should attend</td>
          </tr>
          <tr>
            <td>Second Monday of the Month</td>
            <td>All scouts should attend</td>
          </tr>
          <tr>
            <td>Third Monday of the Month</td>
            <td>Planning Committee Meeting - Scout and adult leaders only</td>
          </tr>
          <tr>
            <td>Fourth Monday of the Month</td>
            <td>All scouts should attend</td>
          </tr>
        </tbody>
      </table>
    </p>
  </div>
  <div class="col-md-6">
    <h3>Upcoming 2019 events</h3>
    <dl>
      <dt>February focus</dt> 
      <dd class="mb-3">Graphic Arts Merit Badge</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <h3 class="">Parent Participation</h3>
    <p>
      Troop 570 offers many opportunities for parents to participate and help in the 
      growth of our scouts.
      <ul>
        <li>Parents are invited to most the events. Scouts grow by watching the examples set by 
          scout and adult leaders.
        </li>
        <li>Participate in Boards of Review to "interview" the scouts when they earn rank advancement. </li>
        <li>We offer training for parents on everything - from scouting skills, leadership, boards of review, etc.</li>
      </ul>
    </p>
  </div>
</div>
