---
layout: page
title: Christmas Tree Pickup and Recycling
description: Details on Troop 570's Christmas tree pickup and recycling event.
slides:
- image: /images/trees/slides/0317-9787.jpg
  title: The early morning crew waiting for trees to arrive
- image: /images/trees/slides/0317-9816.jpg
  title: The afternoon crew staying warm
- image: /images/trees/slides/0317-9859.jpg
  title: That's a lot of trees, with more to come
- image: /images/trees/slides/0318-9888.jpg
  title: Scouts powered by enthusiasm, spirit and sugar
- image: /images/trees/slides/IMG_2813.jpg
  title: More trees...
- image: /images/trees/slides/IMG_2827.jpg
  title: The Tree lot crew
- image: /images/trees/slides/0318-9896.jpg
  title: The trees were shredded for future use in Kirkland parks as ground cover
- image: /images/trees/slides/IMG_2835.jpg
  title: We hope to see you next year.

---
{% comment %}
  <p>Our 2021 Christmas Tree Pickup and Recycling Community Service Project was a success. Thank you to all who donated to our troop. </p>
  <p>All trees collected during this service project are chipped and reused as mulch to maintain Kirkland Parks. This mulch is preferred over commercial mulches simply because it's cleaner.</p>
  <div class="option-box text-center">
    <p>We are still accepting donations. Please make checks payable to "BSA Troop 570". You can mail donations to:</p>

    <address>
      Troop 570<br>
      10021 NE 124th<br>
      Kirkland, WA 98034
    </address>
  </div>
  {% endcomment %}

  <h3 class="text-center">
    Our 2021 Tree Recycle is currently on hold due to the Covid-19 pandemic
  </h3>
  <p class="text-center">
    Please check this page again and we will update this page with the latest news.
  </p>
  
  {% comment %}
  <p>Scouts BSA Troop 570 will do curbside pickup of your natural Christmas trees <a href="#map"><b>within our service area in Kirkland, Washington (map shown below).</b></a></p>
  <div class="row option-box">
    <div class="col-sm-6">
      <h4>Option 1: Drop off at McAuliffe Park</h4>
      <ul>
        <li>Saturday and Sunday, January 2nd and 3rd, 2021 (8:00 AM to 4:00 PM)</li>
        <li><a href="https://www.google.com/maps/preview#!q=McAuliffe Park%2C 108th Avenue Northeast%2C Kirkland%2C WA&data=!4m15!2m14!1m13!1s0x5490127cbe263feb%3A0x3e600372332ebdf6!3m8!1m3!1d2696288!2d-120.8822769!3d47.2729857!3m2!1i1462!2i747!4f13.1!4m2!3d47.704434!4d-122.19741" title="Click for Google Maps to McAuliffe Park" data-toggle="tooltip" data-placement="bottom">McAuliffe Park is at 10824 NE 116th St, Kirkland, WA 98034</a>
      </ul>
    </div>
    <div class="col-sm-6">
      <h4>Option 2: Curbside pickup in our service area (map shown below)</h4>
      <ul>
        <li>Place your natural tree at curbside <strong>before 10:00am on Sunday afternoon</strong>. </li>
        <li><strong>We cannot accept flocked or artificial trees</strong>. Please remove
          anything that could clog the chipper (decoration,
          tinsel, nails, etc)</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-sm-10">
      <h4>Suggested Donation: $20</h4>
      <ul>
        <li>Please leave cash or check donations payable to "Scouts BSA Troop 570" in an envelope (inside a plastic bag if raining).</li>
        <li>Attach the donation to the tree OR mail to <strong>Scouts BSA Troop 570, 10021 NE 124th, Kirkland WA, 98034</strong></li>
      </ul>
      <h4>Details</h4>
      <ul>
        <li>The collected trees will be mulched for use by the Kirkland Parks Department. This Christmas tree mulch is cleaner than other sources so is preferred over normal mulch for use in Kirkland Parks. </li>
        <li>If we have not picked up your tree by 12:00 PM on Sunday, please call us at 425-429-8669 and we will pick it up as soon as possible.</li>
        <li><strong>No calls can be accepted after 2:00 PM on Sunday.</strong></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-sm-10">
      <a id="map"></a>
      <h4>Our curbside pickup service area (inside the red border)</h4>
      <img id="coverage-map" src="/images/trees/coverage-map.jpg" />
      <p class="text-center">
        <a href="https://maps.google.com/maps/ms?vps=2&ie=UTF8&hl=en&oe=UTF8&msa=0&msid=201115839845013008810.0004cfe615c3dc071af1b&dg=feature" title="Click here for Google Maps version" data-toggle="tooltip" data-placement="top">Click here for the Google Maps version of the pickup area</a>.
      </p>
    </div>
  </div>
  

  <p>
    All donations sent in will be used by our troop to support activities in accordance with the 
    <a href="https://www.scouting.org/resources/info-center/mission/">Scout Law, Scout Oath and BSA Mission statement</a>. 
    The mission of Scouting BSA is to prepare young people to make ethical and moral choices over their 
    lifetimes by instilling in them the values of the Boy Scout Oath and Law.
  </p>

  <div id="slide-carousel" class="carousel slide" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for slide in page.slides %}
      <li data-target="#slide-carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for slide in page.slides %}
      <div class="item{% if forloop.first %} active{% endif %}">
        <img src="{{ slide.image }}">
        <div class="carousel-caption">
          {{ slide.title }}
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#slide-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#slide-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {% endcomment %}
