---
layout: page
title: Resources (Boy Troop)
categories:
- name: General
  files:
  - name: Troop Calendar and event registration
    url: http://troopkit.com/
  - name: View and upload event photos
    url: https://discussions.scouting.org/t/troop-570-photos/133926
  - name: Troop Handbook
    url: https://drive.google.com/open?id=17Y0SI3UR-VyaQdYymgJ3bbkEJH32lmHY
  - name: Complete list of documents
    url: https://discussions.scouting.org/t/troop-570-files/114815
  - name: Individual Scout Profile form
    url: https://drive.google.com/file/d/1tTXUHMRmqel_k-EXGuSuhWCWI4Jjwv7q
  - name: Outing medication form
    url: https://drive.google.com/file/d/1g2Dux2LK667hhQr1KfaZF4XrPE4Mhsfd
- name: COVID-19
  files:
  - name: COVID-19 Code of Conduct
    url: https://drive.google.com/file/d/14Qu7gnyWqAw-dkoFVUr-2daitopLXmJh/view
  - name: Guidelines For Troop In-Person Events
    url: https://drive.google.com/file/d/1JB3I0lhBNtZsJOgvKJXscgMXBz8FPoAb/view
  - name: Event Roster and Roster Medical Screening
    url: https://drive.google.com/file/d/1Ykmy6PacLM9RSfjMvlejvkaFAhYzkJQX/view
  - name: Pre-Event Health Screening Checklist
    url: https://drive.google.com/file/d/19Cv88E7IaARfnP0CJWXrNG5-EB9KrMQq/view
  - name: Pre-Event Health Screening Checklist - SUMMER CAMP ONLY
    url: https://drive.google.com/file/d/10MuxcGNYYpe-nXt3rxpOqdok7jGc-V3c/view 
- name: Advancement
  files:
  - name: Request Scoutmaster Conference
    url: http://troopkit.com/advance2/smc.php
  - name: Request Board of Review
    url: http://troopkit.com/advance2/bor.php
  - name: Request Blue Card - Contact SMASM through TroopKit
    url: http://troopkit.com/advance2/bluecard.php
- name: Cyber Chip
  files:
  - name: Scout Rank Cyber Chip
    url: https://drive.google.com/open?id=1NAuzxUC1t955xlsJO-rp4lUd7dWAaxFl
  - name: Star Rank Cyper Chip
    url: https://drive.google.com/open?id=17DqCgXDderVGsycMuEJ3FGGJT389b-_s
  - name: Cyber Chip explained for parents
    url: https://drive.google.com/open?id=1fzp9fkatHarAC29Y_E963Ndg44SXOtIt
  - name: Videos
    url: https://www.nsteens.org/Videos
  - name: Presentation
    url: http://cdn.netsmartz.org/downloads2/Presentations/Tweens_Presentation_2020_508.zip
  - name: Student Project Kit
    url: https://www.missingkids.org/content/dam/netsmartz/downloadable/studentprojectkit/Student_Project_Kit_V1.5.pdf
- name: Forms
  files:
  - name: Reimbursement Request
    url: https://drive.google.com/file/d/1IXrDVg9xWL8NPZVLdBG9hW2lUaPPU6Tl/view
  - name: Income and Expense Workbook
    url: https://drive.google.com/file/d/1v7-D2_7foNvfsJngmWvHuogJW3c7oE1W/view
- name: Outings
  files:
  - name: Beginner's Camping Guide
    url: https://drive.google.com/file/d/13G63K13zUdTnvZucQJFshzi6EQ8K3Wyw/view
  - name: Grubmaster Guide
    url: https://drive.google.com/file/d/1dla96nxyriQA91TRg8jB1OMEPeoamwWJ/view
  - name: Gear Checklist for seveal types of outings
    url: https://drive.google.com/file/d/1U5nCGQ1L-1QD-c5zWB4pPRgWZsyiEXpz/view
  - name: Patrol Planner for Backpacking
    url: https://drive.google.com/file/d/158JMJg2fTtAszJc5MvE8HgKQFSQdb02k/view
  - name: Patrol Campout Planner
    url: https://drive.google.com/file/d/1B-nsWajsi5lpjYrfV_uNr6qKqJbTpXSy/view
  - name: Grubmaster Menu Planner
    url: https://drive.google.com/file/d/1Rdk0bHAaaEnBrs0npQXLvrJAEla1vQTR/view
  - name: Outing Checklist for Adult Leaders
    url: https://drive.google.com/file/d/1eXWxqbum5oKXagjOsAdCPeJLpyntaIBd/view
- name: Leadership Positions
  files:
  - name: Leadership Positions and Reporting Structure
    url: https://drive.google.com/file/d/17qPX5Aj8DfBMfLpug7n05jqTJ1XQYtUs/view
  - name: ASPL Program
    url: https://drive.google.com/file/d/1JXJjSbvQLKIRVzAM2sN6ZcBwlQhgE5p-/view
  - name: ASPL Executive
    url: https://drive.google.com/file/d/1eB2Jzjygfs4qXRChp0yI7p1682EdAFli/view
  - name: ASPL Outings
    url: https://drive.google.com/file/d/1jg-4yMRTt8wZLLYQZJzKANEk-MSNK10i/view
  - name: ASPL Communications
    url: https://drive.google.com/file/d/1VQpexTpm08fz8SXp5YiKts4Kp55uB1yi/view
  - name: ASPL Service
    url: https://drive.google.com/file/d/1ipMBHxI2tr1KW7b-87XFCgjdkByaNdQl/view
  - name: Bugler
    url: https://drive.google.com/file/d/18Um5MYdcYpCaVzHQ6HFvECzXXJ5GcWlX/view
  - name: Chaplain Aide
    url: https://drive.google.com/file/d/1JpelZvScDmogSAN6KsXGNoQIuC9rnFe7/view
  - name: Den Chief
    url: https://drive.google.com/file/d/1Ovjossskis2CrpmcWbeYGf2-wl2RaY8m/view
  - name: Historian
    url: https://drive.google.com/file/d/1Uz3fPhuBS1mJcAbVDt2b6IEN6EfUVSiu/view
  - name: Instructor
    url: https://drive.google.com/file/d/1pszjJIizpK9QSCQD3vRvb6ah9mAKT8Tx/view
  - name: JASM
    url: https://drive.google.com/file/d/1hA2_ksxAkQk6qAmZFDVBp5qLTSolh6M1/view
  - name: Librarian
    url: https://drive.google.com/file/d/15XeFVakzfd9pp9RkUuu3quQjmzczn9NH/view
  - name: OA Rep
    url: https://drive.google.com/file/d/11UvVGGbzPafBhNU8U5zds3bUGL0pPMtU/view
  - name: Outdoor Ethics Guide
    url: https://drive.google.com/file/d/1t6TkyWN7j_aiZ9CRdAhpowT5WCVYvZy8/view
  - name: PL
    url: https://drive.google.com/file/d/1AVOnPdIX0Y7XLshKsBPJ3xsZWv5DDI6Z/view
  - name: QM
    url: https://drive.google.com/file/d/1CIjITdjzsdGHO0vW_npRpMNYzpr_y0c2/view
  - name: Scribe
    url: https://drive.google.com/file/d/1oClwmJ-K5HuffEkf0gaehTQeGdUKPOTM/view
  - name: SPL
    url: https://drive.google.com/file/d/1zfd9LaIjv4_zHZhHdIHyW02sQdhvPT5C/view
  - name: Troop Guide
    url: https://drive.google.com/file/d/1fbCLMY7cFwquikBYuoQDTrryGVuy2NDE/view
  - name: Webmaster
    url: https://drive.google.com/file/d/176kfEVCDfuDpTVTA72oDAIXpx79ZBvEB/view
- name: Logos
  files:
  - name: Logo
    url: https://drive.google.com/file/d/1xmGRdZYump47fPxt5eQuMxx6TrK3cZuB/view
  - name: Artwork
    url: https://drive.google.com/file/d/1NQlsmKHZTAqjRw764m1-KsUidKnCVKoA/view
---

{% for category in page.categories %}
  <h3>{{category.name}}</h3>
  <ul>
    {% for resource in category.files %}
      {% if resource.url %}
        <li><a href="{{resource.url}}">{{resource.name}}</a>
        {% if resource.url contains "http://troopkit.com/" %} (login to TroopKit required){% endif %}
        {% if resource.url contains "https://scoutbook.com/" %} (login to ScoutBook required){% endif %}
        {% if resource.url contains "https://discussions.scouting.org/" %} (login to ScoutBook required){% endif %}
        </li>
      {% else %}
        <li>{{resource.name}}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
