<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="page-template">
    {% include navigation.html %}
    <noscript>
      This website requires JavaScript to be enabled for the best experience. For instructions on how to enable JavaScript, please visit <a href="http://www.enable-javascript.com/">http://www.enable-javascript.com/</a>.
    </noscript>
    <div class="container">
      <h1>{{ page.title }}</h1>
      {% if page.jumbotron %}
        <div class="jumbotron">
          {%include {{page.jumbotron}} %}
        </div>
      {% endif %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
